$max: 2.5;

@keyframes moveToRight {
  0% {
    transform: translateX(calc((var(--about-team-max-boundaries) * -1) / $max));
  }
  100% {
    transform: translateX(calc((var(--about-team-max-boundaries)) / $max));
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(calc((var(--about-team-max-boundaries)) / $max));
  }
  100% {
    transform: translateX(calc((var(--about-team-max-boundaries) * -1) / $max));
  }
}

@keyframes marqueeMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--marquee-width) * -1) / 1.3));
  }
}

@keyframes cursorLabelRotation {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
